.navbar-dash {
  border-bottom: 1px solid #dadce0;
  height: 100px;
  background: #ffffff;
  width: 100%;
  height: 100px;
  z-index: 1;
}

.sidenav {
  width: 300px;
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidenav a.sidenav-item {
  text-decoration: none;
  height: 70px;
  padding: 16px;
  color: var(--onyx);
  font-size: 20px;
}

.sidenav a.sidenav-item:hover,
.sidenav a.sidenav-item:active,
.sidenav a.sidenav-item:focus {
  color: var(--primary);
}

.sidenav a.sidenav-item span {
  margin-right: 10px;
}

.sidenav .bottomnav,
.sidenav .bottomnav img {
  width: 300px;
}

.dash-main-wrapper {
  padding: 40px;
  background: #fafafa;
  width: 90vw;
}

.table-wrapper {
  margin-top: 20px;
  background: #ffffff;
  padding: 20px;
  position: relative;
}

.accordion-body .table-wrapper {
  margin-top: 0;
  padding: 0;
}

.table-wrapper .table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.accordion-body .table-wrapper .table-list {
  height: 600px;
  overflow: auto;
}

.table-wrapper .table-header .table-subtitle,
.table-wrapper .table-list table th {
  font-weight: 700;
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: var(--primary);
}

.accordion-button:focus {
  border-color: var(--primary);
  box-shadow: none;
}

.table-wrapper .table-list table thead {
  background: var(--primary-lighter);
  color: var(--primary-darker);
  font-size: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table-wrapper .table-list table tr {
  height: 60px;
}

.table_img {
  width: 100px !important;
  height: 100px !important;
  border-radius: 8px;
}

.table_banner_img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 8px;
}

.table_img img {
  object-fit: contain;
}

.form_body {
  max-width: 600px;
  margin-top: 50px;
  width: 100%;
}

.w-280px {
  width: 280px;
}

.text-right {
  text-align: right;
}

.table-link,
.table-link:hover,
.table-link:active,
.table-link:focus {
  color: var(--primary);
  text-decoration: none;
  font-weight: bolder;
}

.form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.card-block {
  padding: 20px;
}
