@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #00c267;
  --primary-lightest: #e6f9f0;
  --primary-lighter: #bfefd8;
  --primary-darker: #014f32;
  --onyx-light: #36363d;
  --onyx: #202028;
  --onyx-lightest: #636368;
  --onyx-lighter: #4c4c53;
  --black: #22292f;
}

body {
  font-family: 'Comfortaa', cursive;
  color: var(--onyx);
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background: #e6f9f0;
  /* background: #fafafa; */
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
  outline: none !important;
}

.landing-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.left-page {
  /* flex: 0 0 33.3333%;
  */
  background: #ffffff;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 33%;
}

.auth-page .left-page {
  flex: 0 0 50%;
}

.right-page {
  /* flex: 0 0 66.6666%;
  background: #e6f9f0; */
  background: #ffffff;
  position: relative;
  top: 0;
  left: 33%;
  height: 100vh;
  width: 67%;
}

.auth-page .right-page {
  flex: 0 0 50%;
}

.auth-page-wrapper {
  /* padding: 40px 0; */
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-form {
  width: 400px;
  margin: 100px auto;
  text-align: left;
}

.navbar-qui {
  border-bottom: 1px solid #dadce0;
  height: 100px;
  position: fixed;
  right: 0;
  background: #ffffff;
  width: 67%;
  height: 100px;
}

.btn-auth {
  margin-left: 20px;
  padding: 10px 40px;
}

.logo-wrapper {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item a.nav-link {
  font-weight: 600;
  color: var(--onyx) !important;
}

.landing-page-wrapper {
  text-align: left;
  padding: 200px 0 0;
  color: var(--onyx) !important;
  /* height: 90vh; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.landing-page-wrapper h1,
.landing-page-wrapper p {
  color: var(--onyx-lighter);
}

.services,
.upcoming-events {
  margin-top: 100px;
}

.services-item {
  width: 400px;
  margin-right: 20px;
  padding: 16px;
}

.services-item:hover {
  box-shadow: 0 4px 25px 0 rgba(1, 79, 50, 0.1);
}

.services-item-img {
  width: 19%;
  margin-right: 15px;
}

.services-item-title h2 {
  color: var(--primary-darker);
  font-size: 3.125rem;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 55px;
}

.upcoming-events {
  background: #ffffff;
}
